// Color contrast
@function color-yiq($color) {
    $r: red($color);
    $g: green($color);
    $b: blue($color);
  
    $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;
  
    @if ($yiq >= $yiq-contrasted-threshold) {
      @return $client-default;
    } @else {
      @return $yiq-text-light;
    }
  }
  
  @function md-icon($name){
    @each $item, $content in  $md-icons {
      @if ($item == $name) {
        @return "\\{$content}";
      } @else {
        @return '\e145';
      }
    }
  }
  