// ---------------------------------------------------------
// @TOC

// + @Topbar
// + @Collapsed State

// ---------------------------------------------------------
// @Topbar
// ---------------------------------------------------------

.header {
    background-color: $default-white ;
    // border-bottom: 1px solid $border-color;
    display: block;
    margin-bottom: 0;
    padding: 0;
    border: 0;
    position: fixed;
    transition: all 0.2s ease;
    width: calc(100% - #{$offscreen-size});
    z-index: map-get($z-index, navigation);
    border-radius: 0;
  
    @include to($breakpoint-md) {
      width: 100%;
    }
    @include to($breakpoint-sm) {
      // background-color: $default-white;
      background-color: $client-default ;
    }
  
    @include between($breakpoint-md, $breakpoint-xl) {
      width: calc(100% - #{$collapsed-size});
    }
  
    .header-container {
      @include clearfix;
      height: $header-height;
      background: $default-white;
      .sidebar-toggle{
        i{
          color: $client-default
        }
      }
      @include to($breakpoint-sm) {
        // height: $header-height * 2;
        background: $client-default;
        // background-image: url("../assets/images/logo-white.svg");
        background-size: 60px auto;
        background-repeat: no-repeat;
        background-position: center 15px;
        .sidebar-toggle{
          i{
            color: $default-white !important
          }
         
        }
      }
  
  
      .nav-left,
      .nav-right {
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
        position: relative;
        display: flex;
        align-items: center;
        color: $client-default;
        @include to($breakpoint-sm) {
          background-color: transparent;
          color: $default-white;
        }
  
        > li {
          float: left;
  
          > a {
            color: $default-text-color;
            display: block;
            line-height: $header-height;
            min-height: $header-height;
            padding: 0 12px;
            transition: all 0.2s ease-in-out;
            color: $client-default;
            @include to($breakpoint-sm) {
              color: $default-white;
            }
            i {
              font-size: 2rem;
              margin-top: 11px;
            }
  
            &:hover,
            &:focus {
              color: $client-default-secondary;
              text-decoration: none;
            }
  
            @include to($breakpoint-md) {
              padding: 0 12px;
            }
          }
        }
  
        .notifications {
          position: relative;
  
          .counter {
            background-color: $default-danger;
            border-radius: 50px;
            color: $default-white;
            font-size: 10px;
            line-height: 1;
            padding: 3px 5.5px;
            position: absolute;
            right: 6px;
            top: 12px;
          }
  
          .dropdown-menu {
            min-width: 350px;
            padding: 0;
  
            @include to($breakpoint-sm) {
              max-width: 300px;
            }
          }
        }
      }
  
      .dropdown-menu {
        display: block;
        margin: 0;
        transform-origin: top right;
        transform: scale(0, 0);
        transition: transform 0.15s ease-out;
  
        .divider {
          border-bottom: 1px solid $border-color;
          height: 1px;
          overflow: hidden;
        }
  
        > li {
          > a {
            transition: all 0.2s ease-out;
          }
        }
      }
  
      .show {
        .dropdown-menu {
          transform: scale(1, 1);
        }
      }
  
      .nav-left {
        float: left;
        margin-left: 15px;
        @include to($breakpoint-sm) {
          margin-left: 0;
        }
      }
  
      .nav-right {
        float: right;
  
        .dropdown-menu {
          left: auto;
          right: 0;
  
          > li {
            width: 100%;
  
            > a {
              line-height: 1.5;
              min-height: auto;
              padding: 10px 12px;
              font-size: 1.1rem;
              color: $client-default;
              @include to($breakpoint-sm) {
                color: $default-white;
              }

            }
          }
        }
      }
    }
  
    .search-box {
      .search-icon-close {
        display: none;
      }
  
      &.active {
        .search-icon {
          display: none;
        }
  
        .search-icon-close {
          display: inline-block;
        }
      }
    }
  
    .search-input {
      display: none;
  
      &.active {
        display: inline-block;
      }
  
      input {
        background-color: transparent;
        border: 0;
        box-shadow: none;
        font-size: 18px;
        height: 40px;
        margin-top: 12px;
        outline: none;
        padding: 5px;
  
        @include to($breakpoint-sm) {
          width: 85px;
        }
  
        @include placeholder {
          color: lighten($default-text-color, 20%);
          font-style: italic;
        }
      }
    }
  }
  
  .user-options {
    height: $header-height;
    background: transparent;
  }
  
  // ---------------------------------------------------------
  // @Collapsed State
  // ---------------------------------------------------------
  
  .is-collapsed {
    .header {
      width: calc(100% - #{$collapsed-size});
  
      @include to($breakpoint-md) {
        width: 100%;
      }
  
      @include between($breakpoint-md, $breakpoint-xl) {
        width: calc(100% - #{$offscreen-size});
      }
    }
  }
  .flags {
    padding: 0;
    display: flex;
    margin-top: -10px;
    margin-left: 0;
    margin-right: 20px;
    li {
        margin: 0 10px;
        list-style: none;
        font-size: 0.6rem;
        display: flex;
        flex-flow: column;
        cursor: pointer;
        img {
          width: 30px;
        }
        &.active {
          filter: grayscale(0%);
        }
        &.inactive {
          filter: grayscale(100%);
        }
    }
}