$client-default : #4caf50;
$client-secondary  :#fff;
$client-tertiary  :#22D369;
$client-quartenary  : #FF3366;
$client-fifith  : #19CCF2;
$client-default-inverse : #313233;
$client-default-secondary : #FD9403;
$text-color-primary: #0C0D0C;
$text-color-secondary: #ababab;